# =========================================
# Ignore Flutter / Android build files
# =========================================
**/build/
**/.gradle/
**/.dart_tool/
**/.kotlin/
**/.idea/
**/.android/
**/.vs/
**/.vscode/

# =========================================
# Ignore local configs and logs
# =========================================
*.log
*.tmp
*.bak
local.properties
.DS_Store
Thumbs.db

# =========================================
# Ignore generated AI models (backend)
# =========================================
backend/ai_face_service/models/
